*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ededf6;
}
/*Name and nav start*/
header {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    background-color: #32353f;
    background-size: cover;
}
header nav {
    margin: 7px 0;
}

header h1 {
    background-color: #92cccd;
    padding: 0 10px 0 50px;
    
}

header h1 a {
    color:#32353f ;
    text-decoration: none;
    font-weight: lighter;
    font-size: 36px;
    
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    list-style: none;
    margin-right: 50px;

}

header nav ul li a {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px 4px;
    font-weight: lighter;
    font-size: 17px;
    text-decoration: none;
    color: #92cccd;
}

header nav ul li a:hover {
    background-color: #445976;
}

header nav ul li span {
    border-bottom: 2px solid #92cccd;
    border-bottom-width: 3px;
    padding: 0 5px 5px 5px;
}
/*name and nav ends*/

/*Avatar and Subtitle Start*/
.avatar-title {
    background-image: url(../images/Background-02.jpeg);
    background-size: cover;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items:center;
    height: 200px;
}

.avatar-title .avatar img {
    height: 150px;
    width: 150px;
    margin-left: 50px;
}
 
.avatar-title .subtitle {
    background-color: #92cccd;
    margin: 80px 60px;
}

.avatar-title .subtitle h2 {
    font-size: 30px;
    font-weight: lighter;
    padding-left: 0;
}
/*Avatar and Subtitle End*/

/*Section Destails start here*/
.details {
    padding: 30px 60px 30px 60px;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.about-me h3 {
    color:#445976 ;
    font-size: 46px;
    font-weight: lighter;
    flex: 1 15%;
    text-align: right;
    padding-right: 10px;
}

.about-me p {
    color:#7b8db6; 
    flex: 2 85%;
    font-size: 15px; 
    border-left: 3px #445976 solid;
    padding:5px 10px 10px 40px;
}
.work {
    display: flex;
    flex-wrap: wrap;
    align-content: center; 
    padding: 0 60px 30px 60px;
}

.work h3 {
    color:#445976 ;
    font-size: 46px;
    font-weight: lighter;
    flex: 1 15%;
    text-align: right;
    padding-right: 10px;
}
.work .projects {
    flex: 2 85%; 
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    flex-direction: row;
    padding-left: 40px;
    border-left: 3px #445976 solid;
    justify-content: space-between;
}

.work .projects .run-buddy {
    width: 700px; height: 700px; margin: 5px;
    border: 5px solid #92cccd;
    text-align: left; color: #445976;
    padding-top: 1.3em;
    position: relative;
    background: url(../images/run-buddy.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 0 100%;
    opacity: 0.5;
    cursor:pointer;
}

.work .projects .link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.work .projects .run-buddy:hover {
    opacity: 1.0;
}

.work .projects div {
    width: 200px; height: 200px; margin: 5px;
    border: 5px solid #92cccd;
    font-size: 3em; text-align: left; color: #445976;
    padding-top: 1.3em;
    position: relative;
}

.work .projects div:hover {
    opacity: 1;
}

.work .projects .project01 , .project02 , .project03 , .project04 {
    flex: 1 1 calc(50% - 10px);
    background-color: #445976;
    opacity: 0.5;
    cursor: pointer;
}

.work .projects article {
    position:absolute;
    bottom: 30px;
    left: 0px;
    background-color: #92cccd;
    padding: 10px 10px 10px 40px;
}

.work .projects .run-buddy h4 {
    font-weight: lighter;
    font-size: 30px;
}

.work .projects .run-buddy p {
    font-size: 16px;
    font-weight: lighter;
}

.work .projects .project01, .work .projects .project02, .work .projects .project03,
.work .projects .project04, h4 {
    font-size: 12px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    align-content: center; 
    padding: 0 60px 0 60px;
}
.contact h3{
    color:#445976 ;
    font-size: 46px;
    font-weight: lighter;
    flex: 1 15%;
    text-align: right;
    padding-right: 10px;
}

.contact .info {
    flex: 2 85%; 
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    flex-direction: row;
    padding-left: 40px;
    border-left: 3px #445976 solid;
    justify-content: space-around;
}

.contact .info div a {
    color:#445976 ;
    text-decoration: none;
    font-size: 20px;
}
.contact .info div span {
    border-bottom: 2px solid #445976;
    border-bottom-width: 3px;
    padding: 0 5px 5px 5px;
}

footer {
    margin-top: 10px;
    text-align: center;
}
footer h3 {
    font-size: 16px;
    font-weight: lighter;
}

/*.work .projects .project01, .project02 p {
    font-size: 12px;
    font-weight: lighter;
}
*/

/*
.work .projects .run-buddy img {
    height: 100%;
    width: 100%;
    object-fit: cover;  
}

.work .projects img {
    border: 5px solid #92cccd;
}

.work .projects .others {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 20px;
}

.work .projects .others .image01 img {
    flex: 1 0 50%;

}
*/


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width:980px) {
      header {
          padding-bottom: 0;
          justify-content: center;
          position: relative;
      }

      header h1 {
          width: 100%;
          text-align: center;
      }

      header nav ul {
          margin-top: 20px;
          width: 100%;
          justify-content: center;
      }

      header nav ul li a {
          font-size: 20px;
      }
    }

    @media screen and (max-width:538px) {
        
        .avatar-title .subtitle {
           margin: 0 20px;
        }
    }

